doctype html
<!--[if lt IE 7 ]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7 & !IEMobile]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8 & !IEMobile]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="no-js lt-ie10"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html(class="no-js", lang="en")
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    title Katherine Zeman Bach, Software Developer Resume

    meta(name='keywords', content='software developer resume, software engineer resume, application developer resume, programmer resume, computer programmer resume, software engineer resume, responsive design resume, progressive enhancement resume, karrie zeman resume, karrie zeman bach resume, katherine zeman resume, katherine zeman bach resume')
    meta(name='description', content='Resume of Katherine Zeman Bach, software developer & all-around technologist, HTML over CSS. CSS over JavaScript. PWA pursuant. Web standards loving')
    meta(name='robots', content='noindex, nofollow')
    meta(name='author', content='Katherine Zeman Bach')
    //
       override display defaults showing browser this is a mobile-capabile document
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='all')
    meta(name='google-site-verification', content='ClfdL9Ux3UD1ag_bHLvxDe9CfnS4JTferRl4QiPzvsw')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='canonical', href='http://kzb.herokuapp.com/')
    link(rel='author', href='https://plus.google.com/101963914093672127826')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300', rel='stylesheet', type='text/css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script
      window.jQuery || document.write('<script src="/javascripts/jquery-1.7.2.min.js"><\\/script>')
    //
        IE provisioning - Support CSS3 selectors, could also do this with Modernizr feature detection for css selectors
    //if (lt IE 9) & (!IEMobile)
      script(src='js/selectivizr-min.js')

    script(type='text/javascript', src='/javascripts/modernizr.custom.15176.js')

    <!--[if IEMobile]> meta(http-equiv='cleartype', content='on')  <![endif]-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
  body.clearfix.resume(itemscope='itemscope', itemtype='http://schema.org/Person')
    header.clearfix(role='banner')
      h1.cozy(itemprop='name') Katherine Zeman Bach
      h2.light(itemprop='description') Product & User Centric Software Craftswoman
      h6.cozy
        i(role='presentation' aria-hidden="true").fa.fa-envelope-o
        span.email
          a(href='mailto:katherine.zeman.bach@gmail.com', itemprop='email', role='link')  katherine.zeman.bach@gmail.com
      h6
        i(role='presentation' aria-hidden="true").fa.fa-phone
        span.phone
          span(itemprop='telephone')
            a(href='tel:+13192408908', role='link')  319-240-8908

    .content.clearfix
      section#summary(role='region')
        #detail
          header
            h1(role='heading') Career History
            a.expand(href='#detail')  detail 
              i.fa.fa-toggle-down
            a.collapse(href='#summary')  hide detail 
              i.fa.fa-toggle-down.fa-rotate-180
          section
            header
              h2.cozy(itemprop='affiliation', itemscope='itemscope', itemtype='http://schema.org/Organization', itemid='https://www.sourceallies.com/')
                span(itemprop='name') Source Allies
                small(itemprop='description').light  collaboration focused software consultancy
              h3
                span(itemprop='jobTitle') Software Developer Consultant
                | :
                span.light  Jan. 2016 - Present
            ul.details(role='list')
              li daily delivery of high quality software via consistent quality practices like pair programming, TDD, peer reviews and robust CI pipelines
              li built multiple, scalable web and backend pure-cloud apps
              li earned outstanding rating from client as a team based on predictable delivery and very low defect count
              li partnered with client and other developers to produce hackathon winning proof-of-concept that received future funding
              li successfully pivoted many times between languages and/or stacks
              li delivered digital sales tool that immediately increased sales many times over
          section
            header
              h2.cozy(itemprop='affiliation', itemscope='itemscope', itemtype='http://schema.org/Organization')
                span(itemprop='name') Fluff Enterprises 
                small(itemprop='description').light personal software consultancy
              h3
                span(itemprop='jobTitle') Software Developer, Founder
                | : 
                span.light Sept. 2012 - Present
          section
            header
              h2.cozy(itemprop='affiliation', itemscope='itemscope', itemtype='http://schema.org/Organization', itemid='https://www.fmh.com/')
                span(itemprop='name') Farmers Mutual Hail 
                small(itemprop='description').light crop, property, and casualty insurer
              h3
                span(itemprop='jobTitle') Lead UI Software Developer
                | : 
                span.light Jan. 2013 - Dec. 2014
            ul.details(role='list')
              li Key member of core architecture and application support team functioning to support and guide business-specific development teams
              li Lead developer in bridging gap between client's desire to use the
                abbr(title='Twitter Bootstrap') TWBS
                |  framework and their chosen Telerik
                abbr(title='User Interface') UI
                |  controls suite
              li Frequent proof of concept work to develop the most seamless
                abbr(title='User Interface') UI
                |  patterns possible within given constraints
              li Mentor on all aspects of front-end development
              li Held liason role between application designers and developers
              li Lead effort to improve and implement role access control pattern in substantial ASP.NET Webforms application
          section
            header
              h2.cozy(itemprop='affiliation', itemscope='itemscope', itemtype='http://schema.org/Organization', itemid='https://www.dwolla.com/')
                span(itemprop='name') Dwolla Inc. 
                small(itemprop='description').light digital network for currency transactions
              h3
                span(itemprop='jobTitle') Software Engineer
                | : 
                span.light Dec. 2010 - Sept. 2012
            ul.details(role='list')
              li RESTful
                abbr(title='Application Programming Interface') API
                |  development in .NET mainly based on Web API services consumed by several hundred applications
              li Many tasks working with the OAuth (1 & 2) both serving & consuming APIs that use this modern authorization standard
              li Frequent work with many of the most powerful & popular APIs available today including Facebook, Twitter, LinkedIn, Twilio, Pusher, 4SQ
              li Oversaw & developed systems designed to interface with core, backend banking network in the United States greatly building on my existing knowledge of this industry
              li Developed and evolved systems for detecting and combating information security risks & monetary fraud
              li Active involvement on agile-pursuant-team constantly working towards continuous, predictable software releases & improving automated software testing
          section
            header
              h2.cozy(itemprop='affiliation', itemscope='itemscope', itemtype='http://schema.org/Organization', itemid='http://www.principal.com/index.shtm')
                span(itemprop='name') Principal Financial Group
                small(itemprop='description').light  retirement solutions, investments, and insurance provider
              h3
                span(itemprop='jobTitle') IT System Analyst
                | : 
                span.light Apr. 2008 - Dec. 2010
      section(role='region')
        h1(role='heading') Skills
        h2 Software Languages
        table
          thead
            tr
              th.col-skill Skill
              th Level 
                a(href='#stars' aria-label='Level column info')
                  i.fa.fa-info-circle
            tr
              td Javascript (including Node, React, Redux)
              td(aria-label="4.5 of 5 stars")
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='empty star').fa.fa-star-o
            tr
              td CSS / LESS / SASS / CSS Modules / CSS in JS
              td(aria-label="4.5 of 5 stars")
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='half-full star').fa.fa-star-half-o
            tr
              td HTML vLatest
              td(aria-label="4.5 of 5 stars")
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='half-full star').fa.fa-star-half-o
            tr
              td C#
              td(aria-label="4 of 5 stars")
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='empty star').fa.fa-star-o
            tr
              td Java
              td(aria-label="4 of 5 stars")
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='empty star').fa.fa-star-o
            tr
              td PHP
              td(aria-label="3.5 of 5 stars")
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='half-full star').fa.fa-star-half-o
                i(title='empty star').fa.fa-star-o
            tr
              td Relational Database (MySQL, SQL Server)
              td(aria-label="3 of 5 stars")
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='empty star').fa.fa-star-o
                i(title='empty star').fa.fa-star-o
            tr
              td Document Database (MongoDB)
              td(aria-label="3 of 5 stars")
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='empty star').fa.fa-star-o
                i(title='empty star').fa.fa-star-o
            tr
              td Scala
              td(aria-label="2 of 5 stars")
                i(title='full star').fa.fa-star
                i(title='full star').fa.fa-star
                i(title='half-full star').fa.fa-star-half-o
                i(title='empty star').fa.fa-star-o
                i(title='empty star').fa.fa-star-o
        h2 Software Workflow, Lifecycle & Infrastructure Tools
        ul(role='list')
          li AWS
            span.light  (EC2, EB, ESC, Dynamo, Kinesis, IAM, KMS, S3, API Gateway, Lambda, ElasticSearch, SNS, CloudWatch, Fargate, etc...)
          li TDD, ATDD
          li Hudson & Jenkins
            abbr(title='Continuous Integration') CI/CD
            |  tools
          li ORMs
            span.light  (Hibernate, NHibernate)
          li Spring
          li Ninject -
            abbr(title='Inversion of Control') IOC
            |  container
          li Gulp
          li Gradle
          li npm
          li Unix shells & scripting
          li JavaScript build tools (babel, webpack, PostCSS)
          li Source Control - Git, SVN, Perforce & Clearcase
          li Chrome & Firefox
          li X-stack static analysis and linting tools
          li .NET / Visual Studio
          li MS Code, IntelliJ IDEA
          li Various testing frameworks
            span.light  (including Junit, Nunit, MSTest, Spock, MOQ, ScalaTest, Mocha, Enzyme, React Testing Library, Jest)
          li Various kanban systems
            span.light  (including Jira, Trello, Rally, etc.)
      section(role='region')
        h1(role='heading') Education
        h2 Continuing Education
        ul(role='list')
          li Many software podcasts
            span.light  (Software Engineering Daily, Syntax, JS Party)
          li Many online
            a(rel='external' target='_blank' href='https://degreed.com/kpowz/index/1#/collection?type=Course')
              |  courses
              i.fa.fa-external-link
            |, ongoing
          li Mobile Cloud Computing with Android (MoCCA) Specialization Coursera, 2015
            span.light (
              a(rel='external' target='_blank' href='https://www.coursera.org/account/accomplishments/verify/P3244VCLDR')
                | certificate
                i.fa.fa-external-link
              |  for 6th of 6 courses)
          li Central Iowa Software Symposium (NFJS), Summer 2017
          li Kansas City Developer Conference, Spring 2013, 2015
          li Google I/O, Summer 2014
          li Many Iowa, Nebraska code camps
          li Frequent attendee many Central Iowa user groups
          li Central Iowa Software Symposium (NFJS), Summer 2010
          li
            abbr(title='Princial Financial Group') PFG
            | -Internal 20+ hour Java Server Faces course, Summer 2010
          li
            abbr(title='Princial Financial Group') PFG
            | -Internal 20+ hour Java Server Pages course, Summer 2010
        h2 Bachelor's Degree
        ul(role='list')
          li(role='listitem', itemprop='alumniOf', itemscope='itemscope', itemtype='http://schema.org/CollegeOrUniversity', itemid='http://www.iastate.edu/')
            span(itemprop='name') Iowa State University
            || Ames, IA - Bachelor of Science
          li Major: Management Information Systems,   Minor: Marketing
          li Graduation Date: Dec. 2007
      footer.small
        div.first
          h6.cozy web standards
          ul.none
            li
              i.fa.fa-check-square-o
              a(rel='external' target='_blank' href='http://validator.w3.org/check?uri=http%3A%2F%2Fkzb.herokuapp.com%2F&charset=%28detect+automatically%29&doctype=Inline&group=0')
                |  Valid HTML5 document as per W3C 
                i.fa.fa-external-link
            li
              i.fa.fa-check-square-o
              a(rel='external' target='_blank' href='https://search.google.com/structured-data/testing-tool/u/0/#url=http%3A%2F%2Fkzb.herokuapp.com%2F')
                |  Structured document as per Google &amp; Schema.org 
                i.fa.fa-external-link
            li
              i.fa.fa-check-square-o
              a(rel='external' target='_blank' href='http://wave.webaim.org/report#/http%3A%2F%2Fkzb.herokuapp.com%2F')
                |  Accessible document as per WebAIM 
                i.fa.fa-external-link
            li
              i.fa.fa-check-square-o
              a(rel='external' target='_blank' href='https://developer.mozilla.org/en-US/docs/Web/API/History')
                |  History Web API 
                i.fa.fa-external-link
            li
              i.fa.fa-check-square-o
              a(rel='external' target='_blank' href='http://www.w3.org/TR/css3-flexbox')  Flexbox 
                i.fa.fa-external-link
        div
          h6.cozy powered by
          ul.none
            li
              a(href='https://www.heroku.com/' rel='external' target='_blank') Heorku 
                i.fa.fa-external-link
            li
              a(href='http://lesscss.org/' rel='external' target='_blank') LESS 
                i.fa.fa-external-link
            li
              a(href='http://expressjs.com/' rel='external' target='_blank') Express 
                i.fa.fa-external-link
              |  on
              a(href='https://nodejs.org/en/' rel='external' target='_blank') Node.js 
                i.fa.fa-external-link
            li
              a(href='http://fontawesome.io/' rel='external' target='_blank') Font Awesome 
                i.fa.fa-external-link
            li
              a(href='http://www.git-scm.com/' rel='external' target='_blank') git 
                i.fa.fa-external-link
            li
              a(href='http://jade-lang.com/' rel='external' target='_blank') Jade 
                i.fa.fa-external-link
        div
          h6.cozy musings
          ul.none
            li
              a(href='https://github.com/kPOWz' rel='external' target='_blank') Github 
                i.fa.fa-github-square
            li
              a(href='http://bohemia.technica.io/' rel='external' target='_blank') Blog 
                i.fa.fa-bookmark
            li
              a(href='http://jsfiddle.net/user/kpowz/fiddles/' rel='external' target='_blank') JSFIDDLE 
                i.fa.fa-jsfiddle
        div
        div.flex-vertical
          details
            summary(id='stars') Star scale breakdown
            dl
              dt(aria-label="five star")
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star
              dd expert
              dt(aria-label="four star")
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star-o
              dd intermediate to expert
              dt(aria-label="three star")
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star-o
                i(aria-hidden="true").fa.fa-star-o
              dd intermediate
              dt(aria-label="two star")
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star-o
                i(aria-hidden="true").fa.fa-star-o
                i(aria-hidden="true").fa.fa-star-o
              dd beginner to intermediate
              dt(aria-label="one star")
                i(aria-hidden="true").fa.fa-star
                i(aria-hidden="true").fa.fa-star-o
                i(aria-hidden="true").fa.fa-star-o
                i(aria-hidden="true").fa.fa-star-o
                i(aria-hidden="true").fa.fa-star-o
              dd beginner
          small.copyright &copy;2017 Fluff Enterprices LLC.
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-36362400-1', 'kzb.herokuapp.com');
        ga('send', 'pageview');
        window.addEventListener('hashchange', function(event) {
            history.pushState(null, null, ' ');});


